.solutions {
    max-width: 960px;
    margin: 40px auto;
    letter-spacing: 1px;
    line-height: 1.6em; 
  }

  .sol {
    border: solid;
    list-style: none;
    border-radius: 25px;
    margin-bottom: 10px;
  }

  .info {
    padding-left: 10px;
  }

  .sol:hover {
    border-color: #166ae8;
    color: #166ae8;
    cursor: pointer;
  }